{% extends "admin/change_form.html" %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:decode_all_data' sat_id=original.satellite_identifier.sat_id %}" class="decodedatalink">
      Decode All Data
    </a>
  </li>
  {{ block.super }}
{% endblock %}
