{% load widget_tweaks %}

<form action="" method="post" id="satellite_{{ suggestion_mode }}-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal-header">
        <h3 class="modal-title">{{ suggestion_mode|capfirst }} Satellite{% if suggestion_mode == 'modify' %} Suggestion{% endif %}</h3>
    </div>
    {% if form.errors %}
        <p class="ml-3 mb-0 text-danger">Please correct the errors in the form.</p>
    {% endif %}
    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
        <div class="input-group my-1">
            <label class="input-group-prepend input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if suggestion_mode == 'update' and citation in field.id_for_label %}
                <input id="{{ field.id_for_label }}" class="form-control{% if field.errors %} is-invalid{% endif %}" type="text" name="citation"
                value="" maxlength="512" placeholder="Citation" required="">
            {% else %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" placeholder=field.label %}
                {% else %}
                    {% render_field field class="form-control " placeholder=field.label %}
                {% endif %}
            {% endif %}
        </div>
        <div class="{% if field.errors %}invalid{% endif %}">
            {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-satnogs-primary">{{ suggestion_mode|capfirst }}</button>
    </div>
</form>
