{% extends "base.html" %}

{% load tags %}
{% load static %}

{% block title %} - Transmitter Suggestion {% endblock %}

{% block css %}
{% if showmap %}
<link rel="stylesheet" href="{% static 'lib/maplibre-gl/dist/maplibre-gl.css' %}">
{% endif %}
<link rel="stylesheet" href="{% static 'lib/admin-lte/plugins/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/admin-lte/plugins/chart.js/Chart.min.css' %}">
{% endblock %}

{% block top-menu-left %}
<div class="d-flex flex-column">
    {% if is_new %}
    <span class="h4 mb-0 mr-3 d-none d-md-block">Suggestion for New Transmitter</span>
    {% else %}
    <span class="h4 mb-0 mr-3 d-none d-md-block">Suggested Edit for Transmitter</span>
    {% endif %}
</div>
{% endblock %}

{% block top-menu-center %}

<ul class="navbar-nav nav nav-pills" data-widget="treeview" role="menu" data-accordion="false" id="tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview"
      aria-selected="true" aria-label="Overview"><i class="nav-icon fas fa-table-list"></i>
      <p class="d-none d-lg-inline-block text-sm">Overview</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if is_new %}disabled{% endif %}" id="diff-tab" data-toggle="tab" href="#diff" role="tab" aria-controls="diff"
      aria-selected="false" aria-label="Difference">
      <i class="nav-icon fas fa-table-columns"></i>
      <p class="d-none d-lg-inline-block text-sm">Difference</p>
    </a>
  </li>
</ul>
{% endblock %}

{% block top-menu-right %}
{% if request.user.is_authenticated %}
<ul class="navbar-nav nav nav-pills">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" aria-label="Edit Menu">
      <i class="nav-icon fas fa-edit"></i>
      <p class="d-none d-lg-inline-block text-sm">Actions</p>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if transmitter_entry.created_by == request.user %}
        <a class="dropdown-item d-flex align-items-center" href="{% url 'modify_suggestion' suggestion_type='transmitter' suggestion_id=transmitter_entry.id %}"><i class="nav-icon fas fa-pen-to-square mr-2"></i>Modify Suggestion</a>
        {% else %}
        <a class="dropdown-item d-flex align-items-center" href="{% url 'new_suggestion' %}?mode=copy&type=transmitter&from={{ transmitter_entry.pk }}&satellite={{ transmitter_entry.satellite.pk }}"><i class="nav-icon fas fa-pen-to-square mr-2"></i>Add to Suggestion</a>
        {% endif %}
        {% if transmitter_entry.created_by == request.user or perms.base.approve_satellitesuggestion %}
        <button id="remove-button" class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#confirmRemoveModal"><i class="nav-icon fas fa-trash mr-2"></i>Remove</button>
        {% endif %}
        {% if perms.base.approve_satellitesuggestion %}
        <button type="button" class="dropdown-item d-flex align-items-center" data-toggle="modal" data-target="#reviewModal">
            <i class="nav-icon fas fa-gavel mr-2"></i> Review Suggestion
        </button>
        {% endif %}
    </div>
  </li>
</ul>
{% endif %}
{% endblock %}

{% block top %}
<div class="d-flex flex-column">
    {% if is_new %}
    <span class="h4 mb-0 mr-3 d-none d-md-block">Suggestion for New Transmitter</span>
    {% else %}
    <span class="h4 mb-0 mr-3 d-none d-md-block">Suggested Edit for Transmitter</span>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="row h-100 pl-2 pr-3">
    <div class="col-12 mx-2 pt-3 d-flex justify-content-between mb-3">
        <div class="d-flex flex-column">
            <span><b>Suggested by </b> {{ transmitter_entry.created_by|default:'-' }} <b>on: </b>{{ transmitter_entry.created}}</span>
            <span><b>Citation: </b>{{ transmitter_entry.citation }}</span>
        </div>
    </div>
    <div class="col-12 tab-content mx-2 pt-3" id="myTabContent">
        <!-- Overview -->
        <div class="tab-pane fade show active mx-1" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <table class="w-100 table-striped">
                <tr>
                    <td class="font-weight-bold p-2">Satellite</td>
                    <td>
                        <a href="{% url 'satellite' sat_id=transmitter_entry.satellite.satellite_identifier.sat_id %}"><span>{{ transmitter_entry.satellite }}</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">UUID</td>
                    <td>{{ transmitter_entry.uuid }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Description</td>
                    <td>{{ transmitter_entry.description }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Status</td>
                    <td>{{ transmitter_entry.status|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Type</td>
                    <td>{{ transmitter_entry.type }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Service</td>
                    <td>{{ transmitter_entry.get_service_display|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Downlink Mode</td>
                    <td>{{ transmitter_entry.downlink_mode|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Downlink Frequency</td>
                    <td>{{ transmitter_entry.downlink_low|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Downlink Drift</td>
                    <td>{{ transmitter_entry.downlink_drift|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Baud</td>
                    <td>{{ transmitter_entry.baud|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Uplink Mode</td>
                    <td>{{ transmitter_entry.uplink_mode|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Uplink Frequency</td>
                    <td>{{ transmitter_entry.uplink_low|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Uplink Drift</td>
                    <td>{{ transmitter_entry.uplink_drift|default:'-' }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">IARU Coordination</td>
                    <td>
                        {% if transmitter_entry.iaru_coordination_url %}
                        <a href="{{ transmitter_entry.iaru_coordination_url }}">{{ transmitter_entry.iaru_coordination|default:'-' }}</a>
                        {% else %}
                        {{ transmitter_entry.iaru_coordination|default:'-' }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">ITU Notification</td>
                    <td>
                        {%for itu_url in transmitter_entry.itu_notification.urls %}
                        [<a href="{{ itu_url }}" target="_blank">Link {{ forloop.counter }}</a>]
                        {% empty %}
                        -
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold p-2">Unconfirmed</td>
                    <td>{{ transmitter_entry.unconfirmed|yesno:"Yes,No" }}</td>
                </tr>
            </table>
            
        </div>

        <!-- Diff Section -->
        <div class="tab-pane fade" id="diff" role="tabpanel" aria-labelledby="diff-tab">
            <table class="w-100 table-striped">
                <thead>
                    <tr>
                        <th class="py-3 px-2">Field</th>
                        <th class="py-3 px-2">Current Value</th>
                        <th class="py-3 px-2">Suggested</th>
                    </tr>
                    <tr>
                        <th class="border-bottom bg-secondary border-top"></th>
                        <th class="border-bottom bg-secondary border-top"></th>
                        <th class="border-bottom bg-secondary border-top"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if current_entry.description != transmitter_entry.description %}
                    <tr>
                        <td class="font-weight-bold p-2">Description</td>
                        <td>{{ current_entry.description|default:'-' }}</td>
                        <td>{{ transmitter_entry.description|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.status != transmitter_entry.status %}
                    <tr>
                        <td class="font-weight-bold p-2">Status</td>
                        <td>{{ current_entry.status|default:'-' }}</td>
                        <td>{{ transmitter_entry.status|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.type != transmitter_entry.type %}
                    <tr>
                        <td class="font-weight-bold p-2">Type</td>
                        <td>{{ current_entry.type|default:'-' }}</td>
                        <td>{{ transmitter_entry.type|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.get_service_display != transmitter_entry.get_service_display %}
                    <tr>
                        <td class="font-weight-bold p-2">Service</td>
                        <td>{{ current_entry.get_service_display|default:'-' }}</td>
                        <td>{{ transmitter_entry.get_service_display|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.downlink_mode != transmitter_entry.downlink_mode %}
                    <tr>
                        <td class="font-weight-bold p-2">Downlink Mode</td>
                        <td>{{ current_entry.downlink_mode|default:'-' }}</td>
                        <td>{{ transmitter_entry.downlink_mode|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.downlink_low != transmitter_entry.downlink_low %}
                    <tr>
                        <td class="font-weight-bold p-2">Downlink Frequency</td>
                        <td>{{ current_entry.downlink_low|default:'-' }}</td>
                        <td>{{ transmitter_entry.downlink_low|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.downlink_drift != transmitter_entry.downlink_drift %}
                    <tr>
                        <td class="font-weight-bold p-2">Downlink Drift</td>
                        <td>{{ current_entry.downlink_drift|default:'-' }}</td>
                        <td>{{ transmitter_entry.downlink_drift|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.baud != transmitter_entry.baud %}
                    <tr>
                        <td class="font-weight-bold p-2">Baud</td>
                        <td>{{ current_entry.baud|default:'-' }}</td>
                        <td>{{ transmitter_entry.baud|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.uplink_mode != transmitter_entry.uplink_mode %}
                    <tr>
                        <td class="font-weight-bold p-2">Uplink Mode</td>
                        <td>{{ current_entry.uplink_mode|default:'-' }}</td>
                        <td>{{ transmitter_entry.uplink_mode|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.uplink_low != transmitter_entry.uplink_low %}
                    <tr>
                        <td class="font-weight-bold p-2">Uplink Frequency</td>
                        <td>{{ current_entry.uplink_low|default:'-' }}</td>
                        <td>{{ transmitter_entry.uplink_low|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.uplink_drift != transmitter_entry.uplink_drift %}
                    <tr>
                        <td class="font-weight-bold p-2">Uplink Drift</td>
                        <td>{{ current_entry.uplink_drift|default:'-' }}</td>
                        <td>{{ transmitter_entry.uplink_drift|default:'-' }}</td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.iaru_coordination != transmitter_entry.iaru_coordination or current_entry.iaru_coordination_url != transmitter_entry.iaru_coordination_url %}
                    <tr>
                        <td class="font-weight-bold p-2">IARU Coordination</td>
                        <td>
                            {% if current_entry.iaru_coordination_url %}
                            <a href="{{ current_entry.iaru_coordination_url }}">{{ current_entry.iaru_coordination|default:'-' }}</a>
                            {% else %}
                            {{ current_entry.iaru_coordination|default:'-' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if transmitter_entry.iaru_coordination_url %}
                            <a href="{{ transmitter_entry.iaru_coordination_url }}">{{ transmitter_entry.iaru_coordination|default:'-' }}</a>
                            {% else %}
                            {{ transmitter_entry.iaru_coordination|default:'-' }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.itu_notification != transmitter_entry.itu_notification %}
                    <tr>
                        <td class="font-weight-bold p-2">ITU Notification</td>
                        <td>
                            {% if current_entry.itu_notification.urls %}
                                {% for itu_url in current_entry.itu_notification.urls %}
                                [<a href="{{ itu_url }}" target="_blank">Link {{ forloop.counter }}</a>]
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if transmitter_entry.itu_notification.urls %}
                                {% for itu_url in transmitter_entry.itu_notification.urls %}
                                [<a href="{{ itu_url }}" target="_blank">Link {{ forloop.counter }}</a>]
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
            
                    {% if current_entry.unconfirmed != transmitter_entry.unconfirmed %}
                    <tr>
                        <td class="font-weight-bold p-2">Unconfirmed</td>
                        <td>{{ current_entry.unconfirmed|yesno:"Yes,No"|default:'-' }}</td>
                        <td>{{ transmitter_entry.unconfirmed|yesno:"Yes,No"|default:'-' }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% if transmitter_entry.created_by == request.user %}
<div class="modal fade" id="confirmRemoveModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form method="post" action="{% url 'remove-suggestion' %}">
          {% csrf_token %}
          <input type="hidden" name="suggestion_type" value="transmitter">
          <input type="hidden" name="suggestion_id" value="{{ transmitter_entry.id }}">
          <div class="modal-header">
            <h5 id="confirmModalLabel" class="modal-title">Confirm Removal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div> 
          <div class="modal-body">
            <p>Are you sure you want to delete this suggestion?</p>
          </div> 
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-danger">Remove</button>
          </div> 
        </form>
      </div> 
    </div> 
  </div> 
{% endif %}

{% if perms.base.approve_satellitesuggestion %}
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reviewModalLabel">Review Suggestion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'transmitter_suggestion_handler' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="pk" value="{{ transmitter_entry.pk }}">
                    <div class="form-group">
                        <label for="verdict">Verdict</label>
                        <select class="form-control" id="verdict" name="verdict" required>
                            <option value="approve">Approve</option>
                            <option value="reject">Reject</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="review-message">Review Message</label>
                        <textarea class="form-control" id="review-message" name="review_message" rows="3" placeholder="Provide reason for approval or rejection"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
